

.patient-analytics{
    width:100%;
    height: 23vh;
    padding: 1.2rem;
    box-sizing: border-box;
    margin-top: 1rem;
    background-color: var(--background);
    border-radius: 40px;

}
.patient-analytics h4{
    font-weight: 500;
}
