:root {
  --primary: #3e3b93;
  --secondary: #dde2f9;
  --background: #f0f7fb;
  --cta: #22d9e6;
  --red: #ae4c40;
  --green: #7bd0c1;
  --orange: #fc775a;
  --gray: #ccd1d9;
  --white:#ffffff;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  font-size: 12px;
  background-color: var(--background);
}
 hr{
    margin: 2rem 0rem;
    background-color: var(--gray);
    opacity: 0.2;
}
.scroll {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  height: inherit;
}
.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  height: inherit;
  white-space: nowrap;

}
.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
  white-space: nowrap;

}
.scroll::-webkit-scrollbar {
  height: 0rem;
  width: 0rem;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 65rem;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}
.active{
  background-color: var(--primary);
  color: var(--white);
}
h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p,li {
  font-size: 14px;
}

small {
  font-size: 12px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  p,li {
    font-size: 15px;
  }

  small {
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  p,li {
    font-size: 16px;
  }

  small {
    font-size: 14px;
  }
}
